name: Enhancement Area

on:

  push:
    branches:
      - main-xxxx  # Can be set during golive

  workflow_dispatch:
    inputs:
        community:
            required: true
            type: string
            default: psoriasis-default
        env:
          required: true
          type: choice
          options:
            - Test
            - Live

env:
    AWS_REGION: ${{ vars.AWS_REGION }}
    COMMUNITY: envcommunit-${{ inputs.community }}
    env: ${{ inputs.env }}

jobs:
  
   Slack-Notify-Build:
      uses: Team-Inspire/inspire-web/.github/workflows/send-Slack-notification.yml@main
      secrets: inherit
      with:
        channel-name: "monitoring"
        text: "Deployment to *Sagemaker build* is now in progress"

   EnhancementTestArea:
        runs-on: ubuntu-latest
      
        steps:
          - name: Send Slack Notification - Engineering Begin
            if: contains(github.event.head_commit.message, 'AMGEN-20')
            uses: Team-Inspire/inspire-web/.github/workflows/send-Slack-notification.yml@main
            with:
              channel-name: "monitoring"
              text: "Deployment to *Sagemaker build* is now in progress"
              secrets: inherit

          - name: Logging
            continue-on-error: true
            run: echo $JSON
            env:
                JSON: ${{ toJSON(github) }}

          - name: SagemakerModelBuild-${{ inputs.community }}
            uses: actions/checkout@v4
            with:
                repository: DevOps-ManiInspire/sagemaker-model-build # Replace with the owner/repository name
                fetch-depth: 0 # Fetch all history for proper sparse checkout
                sparse-checkout-cone-mode: true # Recommended for better performance

          - name: ShellScriptExecution
            run: |
                chmod +x enhancement.sh
                ./enhancement.sh