name: Enhancement Area

on:
  push:
    branches:
      - main

  workflow_call:
    inputs:
        community:
            required: true
            type: string

env:
    AWS_REGION: ${{ vars.AWS_REGION }}

jobs:
    EnhancementTestArea:
        runs-on: ubuntu-latest
    
        steps:
          - name: SagemakerModelBuild
            uses: actions/checkout@v4
            with:
                repository: DevOps-ManiInspire/sagemaker-model-build # Replace with the owner/repository name
                fetch-depth: 0 # Fetch all history for proper sparse checkout
                sparse-checkout-cone-mode: true # Recommended for better performance

          - name: ShellScriptExecution
            run: |
                chmod +x enhancement.sh
                ls -lrt 
                community=${{ inputs.community }}
                ./enhancement.sh ${{ vars.AWS_REGION }}