name: Enhancement Area

on:
  workflow_dispatch:
    inputs:
        community:
            required: true
            type: string

env:
    AWS_REGION: ${{ vars.AWS_REGION }}
    COMMUNITY: ${{ inputs.community }}

jobs:
    EnhancementTestArea:
        runs-on: ubuntu-latest
    
        steps:
          - name: SagemakerModelBuild
            uses: actions/checkout@v4
            with:
                repository: DevOps-ManiInspire/sagemaker-model-build # Replace with the owner/repository name
                fetch-depth: 0 # Fetch all history for proper sparse checkout
                sparse-checkout-cone-mode: true # Recommended for better performance

          - name: ShellScriptExecution
            run: |
                chmod +x enhancement.sh
                ./enhancement.sh