name: Sagemaker Build Pipeline

on:
  push:
    branches:
      - main

env:
  SAGEMAKER_PROJECT_NAME_ID: p-1succyhht0ye

jobs:
  SagemakerModelBuild:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - name: SagemakerModelBuild
        uses: actions/checkout@v4
        with:
          repository: DevOps-ManiInspire/sagemaker-model-build # Replace with the owner/repository name
          fetch-depth: 0 # Fetch all history for proper sparse checkout
          sparse-checkout-cone-mode: true # Recommended for better performance
      - name: Build and Install
        run: |
          mkdir /opt/Recommender-Live
          mv ./ModelBuild-GitHubPipeline/* /opt/Recommender-Live
          pip3 install --upgrade --force-reinstall --target $HOME/.local/$SAGEMAKER_PROJECT_NAME_ID . "awscli>1.20.30"
          ls -lrt $HOME/.local/
      
